
:root {
    --color-accent-1: #e84d29;
    --color-accent-2: #5151f3;
    --color-dark-1: #090c0f;
    --color-dark-2: #121416;
    --color-light-1: #f8f7f1;
    --color-light-2: #f2f1e9;
    --color-heading: #101b2b;
    --color-text: #575b5e;
    --color-border: #74787b;
}

@media (prefers-color-scheme:dark) {
    :root {
    --color-accent-1: #ef6545;
    --color-accent-2: #5151f3;
    --color-dark-1: #f8f8f8;
    --color-dark-2: #f2f1e9;
    --color-light-1: #090c0f;
    --color-light-2: #121416;
    --color-heading: #fff;
    --color-text: #bcbcbc;
    --color-border: #74787b;
    }
  }
  
  .light {
    --color-accent-1: #e84d29;
    --color-accent-2: #5151f3;
    --color-dark-1: #090c0f;
    --color-dark-2: #121416;
    --color-light-1: #f8f7f1;
    --color-light-2: #f2f1e9;
    --color-heading: #101b2b;
    --color-text: #74787b;
    --color-border: #74787b;
  }
  
  .dark {
    --color-accent-1: #ef6545;
    --color-accent-2: #5151f3;
    --color-dark-1: #f8f8f8;
    --color-dark-2: #f2f1e9;
    --color-light-1: #090c0f;
    --color-light-2: #121416;
    --color-heading: #fff;
    --color-text: #bcbcbc;
    --color-border: #74787b;
}

  .bg-light {
    background-color: #f8f8f8
  }
  .bg-light-1 {
    background-color: var(--color-light-1)
  }
  .bg-light-2 {
    background-color: var(--color-light-2)
  }
  .bg-dark {
    background-color: #0c0f13
  }
  .bg-dark-1 {
    background-color: var(--color-dark-1)
  }
  .bg-dark-2 {
    background-color: var(--color-dark-2)
  }

  .color-accent-1 {
    color: var(--color-accent-1)!important
  }

  .color-light-1 {
    color: var(--color-light-1)!important
  }

  .color-light-2 {
    color: var(--color-light-2)!important
  }


  .color-link {
    font-weight: 500;
    color: var(--color-accent-1);
  }