:root {
  --easing-1: .5s cubic-bezier(.79,0,.07,.88);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-rendering: optimizeLegibility;
    font-family: var(--font-primary);
    color: var(--color-text);
  }

  .scrollContainer {
    background-color: var(--color-light-1);
  }

  img,
  video {
    display: block;
    width: 100%;
    height: auto
  }

  a {
    text-decoration: none;
    color: inherit
  }

  .link {
    position: relative;
    display: inline-block
  }

  .link::before {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color-text);
    transition: .3s cubic-bezier(.79,0,.07,.88)
  }

  .link:hover::before {
    width: 100%
  }

  .link-white::before {
    background-color: #fff
  }

  .post-navigation a {
    position: relative;
    display: inline-block;
    mix-blend-mode: exclusion;
    z-index: 9
  }

  ul, ul li {
    padding-left: 0;
    list-style: none
  }

  ol {
    padding-left: 18px
  }

  ol li {
    list-style: inherit
  }

.blend-mode {
  mix-blend-mode: difference
}

.dot {
  color: var(--color-accent-1);
  font-weight: 500;
  text-shadow: none
}

.section-number {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--color-accent-1);
  border-radius: 50%;
  font-size: 85%;
  color: var(--color-dark-1);
}

.breacrumbs {
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1px
}

.overflow-hidden {
  overflow: hidden
}

@media(min-width:767px) {
  html {
    overflow-y: hidden
  }
}

.link-arrow {
  display: inline-block;
  font-size: 18px;
  font-weight: 300
}
.link-arrow svg {
  margin-left: 8px;
  transition: .3s cubic-bezier(.79,0,.07,.88)
}
.link-arrow:hover svg {
  transform: rotate(45deg)
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

