
.client-card {
    padding: 3em 2em;
    border-radius: 15px;
    background: var(--color-light-2);
    text-align: center;
}

.client-name p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: .9rem;
}

.client-card img {
    width: 75%;
    margin: 5em auto;
    transition: .3s ease-in-out;
    // filter: grayscale(99%);
    // opacity: .85
}

.light .client-card img {
    transition: .3s ease-in-out;
    // filter: grayscale(99%);
    // opacity: .65
}

.dark .client-card img {
    -webkit-filter: invert(1)grayscale(100%);
    filter: invert(1)grayscale(100%);
    transition: all .3s ease-in-out;
  }

@media (prefers-color-scheme:dark) {
.client-card img {
    transition: .3s ease-in-out;
    // filter: grayscale(99%) brightness(200%);
    // opacity: .85
}
}

.dark .client-card img {
        transition: .3s ease-in-out;
        // filter: grayscale(99%) brightness(200%);
        // opacity: .85
    }

.client-card:hover img {
    // filter: grayscale(0) brightness(100%);
    opacity: 1
}