.site-footer {
    position: relative;
    background: var(--color-dark-1);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    overflow: hidden
}

.footer-parallax {
    position: relative
} 

.footer-arrow {
  width: clamp(18px, 5vw, 22px);
  height: auto;
}

.menu-item__text {
  display: inline-block
} 

.menu-item__text > span {
  display: inline-block;
  font-size: clamp(50px, 10vw, 135px);
  font-weight: 500;
  line-height: 1.3;
  color: var(--color-light-1)
}  

.footer-card ul {
  margin-top: 0;
}

.footer-card li {
  margin-bottom: 0;
}

.footer-card li p {
  opacity: .6;
}

.footer-card li {
  font-size: 14px;
  color: var(--color-light-1)
}

.js-link-item {
  list-style: none;
  width: fit-content;
}

@media(min-width:767px) {
    .site-footer {
        z-index: 0
    }
    .js-link-item {
      display: block;
      position: relative;
    }
    .js-link-item::before,
    .js-link-item::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      border-radius: 5px;
      height: 0.5em;
      bottom: -1.2em;
      left: 0;
      background: var(--color-light-2);
      transform-origin: bottom right;
      transition: transform 0.5s ease-out;
    }
    .js-link-item::before {
      transform: scaleX(1);
    }
    .js-link-item::after {
      transform: scaleX(0);
      background: var(--color-accent-1)
    }
    .js-link-item:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    .footer-arrow {
      width: clamp(42px, 12vw, 120px);
    }
  
  .js-link-item > a {
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
  }
  .menu-item__text {
    display: block
  } 
}

@media(max-width:768px) {
  .js-link-item {
    font-size: clamp(30px, 8vw, 135px);
    font-weight: 500;
    line-height: 1.3;
    color: var(--color-light-1)
  }
}


