.line-x {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-border);
    opacity: .6
  }
  .line-x-static {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-border);
  }
  .lx-1 {
    height: 1px
  }
  .lx-2 {
    height: 2px
  }
  .lx-op {
    opacity: .15
  }
  .lx-light {
    background-color: #fff
  }
  
  .h-line-y {
    position: relative;
    display: block;
    width: 1px;
    height: 100%;
    background-color: #fff;
    opacity: .2;
    z-index: 99
  }
  