  .aspect_16-13 {
    --ratio: 1380/1285;
  }
  .aspect_16-12 {
    --ratio: 1380/1125;
  }
  .aspect_16-9 {
    --ratio: 1380/868;
  }
  .aspect_16-5 {
    --ratio: 1380/468;
  }
  .parallax-wrap {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    padding-bottom: calc(100% / (var(--ratio))); 
    border-radius: 9px
  }
  .parallax-wrap img {
    position: absolute;
    top: 0%;
    left: -4%;
    width: 108%;
    height: 108%;
    object-fit: cover
  }