</div>
<section class="works reveal-img">
  <div id="gallery-work" class="d-none d-md-block">
    <div id="work-images">
      {% for post in collections.works.slice(0, 5) %}
        <div class="work-image" style="background-image: url('{{ post.data.thumbnail }}');"></div>
      {% endfor %}
    </div>
  </div>
</section>
</div>
<!-- Scripts -->
<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/animations.js"></script>
<script src="/assets/js/script.js"></script>
<script>
  // Init locomotive
  const locoScroll = new LocomotiveScroll({
    el: document.querySelector(".scrollContainer"),
    smooth: true,
    reloadOnContextChange: !0,
    multiplier: .65,
    lerp: .12,
    touchMultiplier: 4,
  });

  // Swup init
  const swup = new Swup({
    animateHistoryBrowsing: true,
    plugins: [
      new SwupProgressPlugin(),
      new SwupBodyClassPlugin()
    ]
  });
  // Swup events re-init scripts
  document.addEventListener("swup:animationInStart", () => {
    locoScroll.destroy(), locoScroll.init(), scrollTo(top)
  });
  document.addEventListener("swup:animationInDone", () => {
    appMain(); animationMain()
  }), console.clear();
</script>

<script>
window.addEventListener('load', function(){
  appMain(); animationMain()
  });
</script>

<script src="/assets/js/cookieconsent.js" defer></script>
<script src="/assets/js/cookieconsent-init.js" defer></script>
<!-- Hotjar Tracking Code for Portfolio -->
<script type="text/plain" data-category="analytics">
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:3601699,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "Przemek Miros Strony Internetowe",
    "url": "https://przemekmiros.pl/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "{search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
</script>   
</body>
</html>