</main>
<footer class="site-footer pt-medium pb-medium" data-scroll-section>
  <div class="footer-parallax">
    <div class="container">

                <p class="color-light-1">
                  Share your creative ideas with us and get back beautiful designs that impress and engage.
                </p>
                <a href="mailto:kontakt@futurewebstudio.pl" title="Wyślij wiadomość" class="xxxl color-light-1 lets-talk mt-3 mb-5">
                  Napisz do mnie
                  <svg class="footer-arrow" width="36" height="36" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L1 13" stroke="var(--color-light-1)" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3 1H13V11" stroke="var(--color-light-1)" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>  
                </a>

                <div class="pt-medium">
                  <div class="line-x"></div>
                </div>

    </div>
  </div>
</footer>
{% include 'partials/foot.njk' %}