<section class="about pt-md-medium pb-md-small" data-scroll-section>
    <div class="container">
      <div class="pb-large">
          <div class="line-x lx-op"></div>
      </div>
        <div class="row">
            <div class="col-md-3">
               <p class="section-number">
                  01
               </p>
            </div>
            <div class="col-md-8">
              <h2 class="split-text-lines first-line-accent mt-0 mb-5">
                Tworzę strony internetowe, które pomagają w sprzedaży produktów oraz usług<span class="dot">.</span>
              </h2>
          </div>
        </div>
            <div class="row">
              <div class="col-md-2 d-none d-md-block">
                 <p class="split-text-lines uppercase text-medium">
                  Pokaż się z najlepszej strony
                 </p>
              </div>
              <div class="offset-md-1 col-md-7">
                <p class="split-text-lines text-medium mb-5">
                  Rozmawiam, planuje, szkicuje, tropię nowinki techniczne i najnowsze trendy. Testuje, poprawiam, wdrażam w życie. Wszystko po to, aby stworzyć spójny, nowoczesny i funkcjonalny wizerunek firmy... w pełni zgrany design.
                </p>
                <a href="mailto:kontakt@futurewebstudio.pl" class="button magnetic fadeIn" title="Realizacje" data-strength="100" data-strength-text="50">
                  <span>Napisz do mnie</span>
                  <svg width="11" height="11" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L1 13" stroke="var(--color-accent-1)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3 1H13V11" stroke="var(--color-accent-1)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>        
                </a>
              </div>
            </div>
    </div>
  </section>
