<section class="about pt-md-medium pb-md-xsmall" data-scroll-section> 
    <div class="container">
      <div class="pb-large d-none d-md-block"> 
          <div class="line-x lx-op"></div> 
      </div>
        <div class="row">
            <div class="offset-md-3 col-md-7">
              <h2 class="h1 split-text-lines first-line-accent mt-4 mt-md-0 mb-5">
                Zdobądź stronę internetową, która pomoże w sprzedaży produktów i usług<span class="dot">.</span>
              </h2>
          </div>
        </div>
            <div class="row gx-5">
              <div class="offset-md-2 col-3 col-md-1">
                <img src="/assets/img/hero/avatar.png" class="fadeIn mt-3" width="114" height="114" loading="lazy" alt="Avatar">
              </div>
              <div class="col-md-7"> 
                <p class="split-text-lines text-medium mt-5 mt-md-1 mb-5">
                  Rozmawiam, planuje, szkicuje, tropię nowinki techniczne i najnowsze trendy. Testuje, poprawiam, wdrażam w życie. Wszystko po to, aby stworzyć spójny, nowoczesny i funkcjonalny wizerunek firmy... w pełni zgrany design.
                </p>
                <a href="mailto:kontakt@futurewebstudio.pl" class="button magnetic fadeIn" title="Realizacje" data-strength="100" data-strength-text="50">
                  <span>Napisz do mnie</span>
                  <svg width="11" height="11" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L1 13" stroke="var(--color-accent-1)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3 1H13V11" stroke="var(--color-accent-1)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>        
                </a>
              </div>
            </div>
    </div>
  </section>
