<section class="pt-large clients pb-large" data-scroll-section>
  <div class="container">
    <div class="offset-md-3 col-md-6">
      <h2 class="h1 my-0 split-text-lines text-behind" tg-txt-name="Klienci">
        Zaufali mi<span class="dot">.</span>
      </h2>
    </div>
    <div class="col-md-12">
      <div class="clients-wrap pt-medium">
        <div class="row g-4">
          <div class="col-12 col-md-3">
            <div class="client-card">
            <div class="client-name">
               <p class="mt-0 mb-5">
                  Magazyn kobiet biznesu
               </p>
            </div>
            <img
              src="/assets/img/clients/logo-business.png"
              alt="Klient 1"
              loading="lazy"
              width="156"
              height="66"
            />
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="client-card">
              <div class="client-name">
                <p class="mt-0 mb-5">
                   Producent nanokoloidów
                </p>
             </div>
            <img
              src="/assets/img/clients/logo-egp.png"
              alt="Klient 2"
              loading="lazy"
              width="156"
              height="66"
            />
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="client-card">
              <div class="client-name">
                <p class="mt-0 mb-5">
                   Dystrybutor rur stalowych
                </p>
             </div>
            <img
              src="/assets/img/clients/logo-ecotech.png"
              alt="Klient 3"
              loading="lazy"
              width="156"
              height="66"
            />
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="client-card">
              <div class="client-name">
                <p class="mt-0 mb-5">
                   Centrum rehabilitacji
                </p>
             </div>
            <img
              src="/assets/img/clients/logo-c7med.png"
              alt="Klient 5"
              loading="lazy"
              width="156"
              height="66"
            />
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="client-card">
              <div class="client-name">
                <p class="mt-0 mb-5">
                   Konstrukcje ze stali
                </p>
             </div>
            <img
              src="/assets/img/clients/logo-staltom.png"
              alt="Klient 6"
              loading="lazy"
              width="156"
              height="66"
            />
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="client-card">
              <div class="client-name">
                <p class="mt-0 mb-5">
                   Klub networkingowy
                </p>
             </div>
            <img
              src="/assets/img/clients/logo-master.png"
              alt="Klient 7"
              loading="lazy"
              width="156"
              height="66"
            />
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="client-card">
              <div class="client-name">
                <p class="mt-0 mb-5">
                   Magazyn kobiet biznesu
                </p>
             </div>
            <img
              src="/assets/img/clients/logo-uce.png"
              alt="Klient 8"
              loading="lazy"
              width="156"
              height="66"
            />
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="client-card">
              <div class="client-name">
                <p class="mt-0 mb-5">
                   Studio masażu i terapii
                </p>
             </div>
            <img
              src="/assets/img/clients/logo-soul.png"
              alt="Klient 9"
              loading="lazy"
              width="156"
              height="66"
            />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
