<section class="stacked bg-light-1">
    <div class="container">
      <div class="row gx-0">
        <div class="col-md-5 pt-medium pt-md-large">
          <div class="pinned-element">
            <h2 class="h2 mt-3 mb-4 split-text-lines">
              Najczęściej <br />zadawane pytania<span class="dot">.</span>
            </h2>
            <p class="split-text-lines">
              Nie znajdujesz odpowiedzi na swoje pytania? Skontaktuj się ze mną,
              chętnie wszystko wyjaśnię.
            </p>
            <div class="fadeIn">
              <a
                href="mailto:kontakt@futurewebstudio.pl"
                class="button magnetic"
                title="Realizacje"
                data-strength="100"
                data-strength-text="50"
              >
                <span>Napisz do mnie</span>
                <svg
                  width="11"
                  height="11"
                  viewBox="0 0 14 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13 1L1 13"
                    stroke="var(--color-accent-1)"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M3 1H13V11"
                    stroke="var(--color-accent-1)"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
  
        <div class="offset-md-1 col-md-6 pt-md-medium pb-medium pb-md-xlarge">
          <div class="accordion-wrap">
            <div class="line-x lx-op d-md-none mt-5 mt-md-0"></div>
  
            {% for post in collections.faq %}
            <div class="mt-4 pt-xsmall pb-xsmall">
              <button class="accordion">
                <span class="h5 title split-text-lines">
                  {{ post.data.title }}
                </span>
                <span class="icon fadeIn"></span>
              </button>
              <div class="panel col-md-11">
                <p>
                  {{ post.data.answer }}
                </p>
              </div>
            </div>
  
            <div class="line-x lx-op"></div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>