<section class="hero pt-xlarge pt-md-large pb-xsmall pb-md-large" data-scroll-section>
  <div class="container">
    <div class="row">
      <div class="col-12 d-md-none">
        <p class="split-text-lines mt-0 mb-3" id="greeting"></p>
      </div>
      <div class="col-md-6">
        <h2 class="xxxl split-text-lines my-1 my-md-1">Pokaż się</h2>
      </div>
      <div class="col-6 text-end d-none d-md-block">
        <h2 class="xxxl split-text-lines stroke-text my-1 my-md-1">w sieci</h2>
      </div>
    </div>
    <div class="line-x lx-op"></div>
      <div class="col-md-9">
        <h2 class="xxxl split-text-lines my-1 my-md-1"><span class="color-accent-1">z najlepszej</span>®</h2>
      </div>
      <div class="line-x lx-op"></div>
    <div class="row align-items-center">
      <div class="col-md-3 col-xl-2 d-none d-md-block">
        <div class="hero-list">
          <p class="split-text-lines my-0 mt-md-2 mt-xl-3 mb-md-0 color-dark-1">
            Strony dla firm <br />
            Sklepy internetowe<br />
            Portale i serwisy  
        </p> 
        </div>
      </div> 
      <div class="offset-xl-1 col-md-8">
        <h2 class="xxxl split-text-lines my-1 my-md-1">strony www<span class="dot">.</span></h2>
      </div>
      <div class="col-md-1 p-2 text-end d-none d-md-block fadeIn">
        <svg class="hero-circle-text" viewBox="0 0 100 100" width="100" height="100">
          <defs>
            <path id="circle"
              d="
                M 50, 50
                m -37, 0
                a 37,37 0 1,1 74,0
                a 37,37 0 1,1 -74,0"/>
          </defs>
          <text>
            <textPath xlink:href="#circle">
              Przewiń w dół i zobacz realizacje ★ 
            </textPath>
          </text>
        </svg>
    </div>
      <div class="line-x lx-op"></div>
    </div>
  </div>
</section>
