<section class="pb-medium" data-scroll-section>
    <div class="container">
        <div class="offset-md-3 col-md-6 pb-xsmall">
            <h2 class="xl split-text-lines">
                Artykuły<span class="dot">.</span>
            </h2>
        </div>
        <div class="col-md-12">
            <div class="row gx-4">
                {% for post in collections.posts.slice(0,4) %}
                    <div class="col-md-3 pb-small fadeIn">
                        <a href="{{ post.url }}" title="{{ post.data.title }}">
                            <div class="portfolio-item fadeIn">
                                <div class="parallax-wrap aspect_16-9">
                                  {% blogImage "src/" + post.data.thumbnail, post.data.title %}
                                </div>
                            </div>
                        </a>
                        <p class="capitalize mt-4 mb-2">
                            <small>
                                {{ post.data.tags }}
                            </small>
                        </p>
                        <a href="{{ post.url }}" title="{{ post.data.title }}">
                            <h3 class="line-clamp-2 h4 mt-0 mb-2">
                                {{ post.data.title }}
                            </h3>
                        </a>
                        <a href="{{ post.url }}" title="Czytaj" class="button magnetic mt-3 mb-4" data-strength="100" data-strength-text="50">
                            <span>Czytaj</span>
                            <svg width="11" height="11" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L1 13" stroke="var(--color-accent-1)" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M3 1H13V11" stroke="var(--color-accent-1)" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                        <div class="line-x lx-1 lx-op"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>