<!--
<section class="d-none d-md-block" data-scroll-section>
  <div class="line-x lx-2"></div>
</section>
-->
<section class="pt-small pb-small" data-scroll-section>
    <div class="hero-parallax">
      <div class="hero-parallax-content" id="direction">
        <div class="hero-parallax-wrap me-md-5" data-scroll data-scroll-direction="horizontal" data-scroll-target="#direction"
          data-scroll-speed="2">
          <div class="row">
            <div class="col-3">
              <div class="parallax-item">
              <img src="assets/img/hero/par-1.jpg" alt="">
              </div>
            </div>
            <div class="col-3">
              <div class="parallax-item">
              <img src="assets/img/hero/par-5.jpg" alt="">
              </div>
            </div>
            <div class="col-3">
              <div class="parallax-item">
              <img src="assets/img/hero/par-2.jpg" alt="">
              </div>
            </div>
            <div class="col-3">
              <div class="parallax-item">
              <img src="assets/img/hero/par-4.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="hero-parallax-wrap ms-md-5" data-scroll data-scroll-direction="horizontal" data-scroll-target="#direction"
          data-scroll-speed="-2">
          <div class="row">
            <div class="col-3">
              <div class="parallax-item">
              <img src="assets/img/hero/par-3.jpg" alt="">
              </div>
            </div>
            <div class="col-3">
              <div class="parallax-item">
              <img src="assets/img/hero/par-6.jpg" alt="">
              </div>
            </div>
            <div class="col-3">
              <div class="parallax-item">
              <img src="assets/img/hero/par-5.jpg" alt="">
              </div>
            </div>
            <div class="col-3">
              <div class="parallax-item">
              <img src="assets/img/hero/par-2.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>