<!--
<section class="d-none d-md-block" data-scroll-section>
  <div class="line-x lx-2"></div>
</section>
-->
<section class="pt-xsmall pb-xsmall" data-scroll-section>
    <div class="hero-parallax d-none d-md-block">
      <div class="hero-parallax-content" id="direction">
        <div class="hero-parallax-wrap me-md-5" data-scroll data-scroll-direction="horizontal"
          data-scroll-speed="2">
          <div class="row">
            <div class="col-6 col-md-3">
              <div class="reveal reveal--top">
                <div class="parallax-item">
                {% Image "src/assets/img/hero/par-1.jpg", "Realizacje" %}
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
             <div class="reveal reveal--top">
              <div class="parallax-item">
               {% Image "src/assets/img/hero/par-7.jpg", "Realizacje" %}
              </div>
             </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="reveal reveal--top">
              <div class="parallax-item">
               {% Image "src/assets/img/hero/par-2.jpg", "Realizacje" %}
              </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="reveal reveal--top">
              <div class="parallax-item">
               {% Image "src/assets/img/hero/par-3.jpg", "Realizacje" %}
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-parallax-wrap ms-md-5" data-scroll data-scroll-direction="horizontal"
          data-scroll-speed="-2">
          <div class="row">
            <div class="col-6 col-md-3">
              <div class="reveal reveal--top">
              <div class="parallax-item">
               {% Image "src/assets/img/hero/par-4.jpg", "Realizacje" %}
              </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="reveal reveal--top">
              <div class="parallax-item">
                <video autoplay loop >
                  <source src="assets/img/hero/vid-5.mp4">
                </video>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="reveal reveal--top">
              <div class="parallax-item">
              {% Image "src/assets/img/hero/par-5.jpg", "Realizacje" %}
              </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="reveal reveal--top">
              <div class="parallax-item">
              {% Image "src/assets/img/hero/par-8.jpg", "Realizacje" %}
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-md-none">
        {% Image "src/assets/img/hero/hero-mobile.jpg", "Realizacje" %}
    </div>
</section>
