<section class="works pt-large pb-large" data-scroll-section>
  <div class="container" id="fixed-target">
<!--
        <div id="gallery-work">
          <div id="work-images">
            <div class="work-image" style="background-image: url('https://przemekmiros.pl/realizacje/img/kajaki-img.jpg');"></div>
            <div class="work-image" style="background-image: url('https://przemekmiros.pl/realizacje/img/business-img.jpg');"></div>
            <div class="work-image" style="background-image: url('https://przemekmiros.pl/realizacje/img/egp-img.jpg');"></div>
          </div>
        </div>
-->
      <div class="items-works">
          <div class="line-x lx-op"></div>
          {% set counter = 1 %} 
          {% for post in collections.services %}
            <div class="">
                <div class="item-work row pt-small pb-medium">
                    <div class="offset-md-2 col-md-1">
                        <p class="item-work-number fadeIn">
                            (0{{ counter }})
                        </p>
                    </div>
                    <div class="col-md-8">
                        <h3 class="xl split-text-lines my-0">{{ post.data.title }}</h3>
                        <div class="item-work-list">
                            <span>Usługa 1</span>
                            <span>Usługa 2</span>
                            <span>Usługa 3</span>
                            <span>Usługa 4</span>
                            <span>Usługa 1</span>
                            <span>Usługa 2</span>
                            <span>Usługa 3</span>
                        </div>
                    </div>
                </div>
                <div class="offset-md-2 col-md-9">
                    <div class="line-x lx-op"></div>
                </div>
            </div>
          {% set counter = counter + 1 %} 
          {% endfor %}
      </div>

  </div>
</section>
